<nav class="navbar my-5 navbar-expand-lg navbar-light bg-light">
  <!-- Navbar content -->
  <div class="container-fluid">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          id="watch-tab"
          class="nav-link dashboard-link text-dark"
          aria-current="page"
          href="/dashboard/{{id}}"
        >&#128064; Watchlist</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link dashboard-link text-dark"
          id="fave-tab"
          href="/dashboard/{{id}}/favorite"
        >
          &#10084;&#65039; Favorites</a>
      </li>

    </ul>
  </div>
</nav>



<h3 class="text-light">Your Watchlist:</h3>
<section class="container-lg d-flex justify-content-evenly flex-wrap">
  {{#each watchlists}}
  {{>watchlist}}
  {{/each}}
</section>
{{!-- 
<div class="modal fade" id="watchlistModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Removing from Watchlist</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
        <button
          id="true"
          type="button"
          class="btn btn-primary"
        >Confirm</button>
      </div>
    </div>
  </div>
</div> --}}

<script src="/js/dashboard.js"></script>