<nav class="navbar bg-black">
  <!-- Navbar content -->

    <ul class="nav">
      <li class="nav-item">
        <a
          id="watch-tab"
          class="nav-link text-light"
          aria-current="page"
          href="/dashboard/{{id}}"
        >&#128064; Watchlist</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-light"
          id="fave-tab"
          href="/dashboard/{{id}}/favorite"
        >
          &#10084;&#65039; Favorites</a>
      </li>

    </ul>
 
</nav>

<h3 class="text-light">Your Watchlist:</h3>
<section id="cards-container" class="container-fluid d-flex justify-content-evenly flex-wrap">
  {{#each watchlists}}
  {{>watchlistCards}}
  {{/each}}
</section>


<script src="/js/dashboard.js"></script>