<div class="container d-flex col-8 justify-content-center">
  <img src="/img/dog.png" alt="doggo" style="width:300px; height: 250px;" />
</div>

<div class="container d-flex col-8 justify-content-center">

  <form id="search-handler" class="d-flex col-12 col-md-6 mb-5">
    <input
      class="form-control"
      type="search"
      placeholder="Search movies"
      aria-label="Search"
      id="search-text"
    />
    <button class="btn btn-danger m-2" type="submit">Search</button>
  </form>
</div>

<main id="main" class="container-fluid d-flex justify-content-evenly flex-wrap">
  {{#each result}}
  {{>homeCards}}
  {{/each}}

</main>

<script src="/js/home.js"></script>