<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div>
    <form id="form-handler" class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        id="search-text"
      />
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
      >Search</button>
    </form>
  </div>

</nav>

<script src="/js/home.js"></script>