<div class="container-fluid my-3">
  <form id="formHandler" class="mx-5">
    <h2 class="text-light">Sign Up!</h2>
    <div class="mb-3 col-md-3 text-light">
      <label class="form-label">Username</label>
      <input
        type="text"
        placeholder="name"
        class="form-control col-4"
        id="username-input"
      />

    </div>
    <div class="mb-3 col-md-3 text-light">
      <label class="form-label">Email address</label>
      <input
        type="email"
        placeholder="email"
        class="form-control"
        id="email-input"
      />

    </div>
    <div class="mb-3 col-md-3">
      <label class="form-label text-light">Password</label>
      <input
        type="password"
        placeholder="password (must be at least 8 characters long)"
        class="form-control"
        id="pw-input"
      />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>

<script src="/js/signup.js"></script>